<mat-sidenav-container class="example-container" >
    
    
    <mat-sidenav-content>

        <div class="col-md-6 offset-md-3">

            <div class="content mat-elevation-z12 justify-content-center">
                <div class="loginform">

                    <img class="avatar logo mat-elevation-z12 mt-5" src="https://simg.nicepng.com/png/small/215-2151411_back-office-admin-office-admin.png" alt="">

                    <div class="mt-2">

                        <label for="email"
                          class="mt-5 d-flex justify-content-center"
                        >
                        Email
                        </label>

                        <input type="email"
                          class="form-control mt-2">
                        
                    </div>
                    <div class="mt-2">

                        <label for="email"
                          class="mt-5 d-flex justify-content-center"
                        >
                        Contraseña
                        </label>

                        <input type="password"
                          class="form-control mt-2">
                        
                    </div>
                    <div class="col-md-12 d-flex justify-content-center mt-5">
                        <button type="button" class="btn btn-primary"(click)="login();">Iniciar sesion</button>
                        
                    </div>
                    


                </div>
            </div>

        </div>



    </mat-sidenav-content>
</mat-sidenav-container>